{% extends 'base.html' %}
{% if user.is_authenticated %}{% endif %}
{% block title %}-about{% endblock title %}
{% load static %}
{% block content %}
<center><p>Swifcart operates through its web application , 
    providing a convenient and user-friendly shopping experience
     to customers across India. The company has 
     played a significant role in revolutionizing the e-commerce
      landscape in India, introducing innovative features like 
      cash-on-delivery, easy returns, and product reviews 
      to build trust among consumers. <b>IT IS IN DEVELOPMENT PHASE.</b></p>
</center>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

{% endblock content %}