<!DOCTYPE html>

<html>
    <head>
        {% load static %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Swiftcart{% block title %}{% endblock title %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        {% comment %} ----------------------------favicon icon-------------------------- {% endcomment %}
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    </head>
    <body>
        {% if  request.user.is_authenticated %}
        {% include "customer_nav.html" %}
        {% else %}
        {% include "navbar.html" %} 
        {% endif %}
        {% block content %}

        {% endblock content %}
        {% include "mainfooter.html" %}
     
    </body>
</html>